
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>AJAX example</title>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>
    
  </head>
  <body></body>
  <div id="message"></div>
  
</html>

<script>
  
	$(document).ready(function() { 
		$("#start").click(function() { 

			$.ajax({
			  type: 'post',
			  url: 'http://192.168.0.13:5000/start',
			  dataType: 'json',
			  success: function(data) {
			     $("#message").html(data);
			  }
	        });
		});

		$("#stop").click(function() { 

			$.ajax({
			  type: 'post',
			  url: ' http://192.168.0.13:5000/stop',
			  dataType: 'jsonp',
			  success: function(data) {
			     $("#message").html(data);
			  }
	        });
		});
		
		$("#settemp").click(function() { 

			$.ajax({
			  type: 'post',
			  contentType: 'application/json',
			  url: ' http://192.168.0.13:5000/temp',
                          data: JSON. stringify ({"temp":"50"}),
			  dataType: 'json',
			  success: function(data) {
			     $("#message").html(data);
			  }
	        });
		});
	});

</script>
<button id="start">Start </button>
<button id="stop">Stop</button>
<button id="settemp">Temp</button>

		
